<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>
    <card img="../../imagens/jeniffer.jpg" title="Gestor Financeiro">
        <slider></slider>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae soluta impedit architecto suscipit similique qui sed quibusdam, rem fugiat recusandae neque voluptatum excepturi quaerat cupiditate possimus a adipisci labore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ullam. Sed, ratione! Earum consectetur sequi facilis ipsam eius! Quasi, amet similique pariatur perspiciatis quibusdam dicta repellendus atque quos sequi in.</p>
        <h1>asda</h1>
        <img src="" alt="">
    </card>
    <card title="login-page">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga repellendus similique assumenda quia voluptatum labore sunt saepe, deleniti ullam harum, sint placeat, veritatis ipsum vel hic omnis tenetur? Similique, dignissimos!</p>
    </card>
    
    <script src="card.js"></script>

</body>
</html>
