@media screen and (min-width: 1200px) {
    .image-koicute {
        display: block;
        background-image: url(../imagens/koifofa.png);
        width: 400px;
        height: 400px;
    }

    .image-koihi {
        display: none;
    }

    .welcome {
        flex-direction: row-reverse;
    }

    .left {
        width: 60%;
        height: 95%;
        border: none;
        display: flex;
        align-items: center;
    }

   .main-h1 {
        font-size: 4rem;
    }

    .cursive {
        font-family: var(--font1);
        font-size: 9.5rem;
    }

    .main-p {
        font-size: 2rem;
    } 

    .right {
        width: 40%;
        height: 95%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .menu {
        display: flex;
        justify-content: flex-end ;       
    }
    
    .menu-option {
        display: block;
        position: relative;
        border: none;
        margin: 0 40px;
        font-size: 1.3rem;
        font-family: var(--font3);
        font-weight: 900;
        padding: 20px;
        text-align: left;
    }

    .menu-option > span {
        font-size: 1.5rem;
    }

    .menu li:hover ul, .menu li.over ul {
        display: block;
        top: 10x;
        width: 150px;
        list-style-type: none;
        border-radius: 10px;
    }

    .menu li ul  {
        background-color: var(--color-03);
        top: 50px;
    }
    
    .menu li ul li {
        border: 2px solid transparent;
    }

    .menu li ul li:hover {
        background-color: var(--color-02);
        transition: 0.5s;
        
    }
    .language:hover {
        font-size: 1.1rem;
    }

    .menu li ul li:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .menu li ul li:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .menu li ul li:hover:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid var(--color-01);
 
    }

    .menu li ul li:hover:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 2px solid var(--color-01);
    }
    
    
    .menu-option:hover {
        background-color: transparent;
    }
    
    .menu-option:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 15px;
        height: 4px;
        background: var(--color-01);
        width: 100%;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: scaleX(0) translate3d(0, 0, 0);
        transform: scaleX(0) translate3d(0, 0, 0)
    }

    .menu-option:hover:before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1)
    }

    .navbar > span {
        display: none;
        font-size: 4rem;
    }

    .home {
        width: 80px;
        height: 80px;
    }

    .about, .project {
        justify-content: center;
        height: 100vh;
    }

    .container-projects {
        display: flex;
        gap: 40px;
        padding: 0 5px;
    }

    /* .project-image-portrait  {
        width:300px;
    } */

    .project-card:nth-child(even) .project-card-flex {
        flex-direction: row;
    }
    
    .contact {
       height: 100vh;
    }

    .contact-detail {
        font-size: 1.5rem;
        width: 120px;
        margin: 50px;
    }
}