@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --font1: 'Cookie', cursive;
    --font2: 'Roboto', sans-serif;
    --font3: 'Noto Sans', sans-serif;
    --color-00: #593959;
    --color-01: #D759D9;
    --color-02: #F1A7F2;
    --color-03: #EDC4F2;
    --color-04: #8BD9D1;
    --color-07: #4C8C86;
    --color-08: #305955;    
    --color-05: #F2DAC4;
    --color-09: #59432E;
    --color-10: #FFF1E3;
    --color-06: #f7e0b4;
}
.hyphenate {
    hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
}

.invisibleMenu {
    display: none;
}


html {
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100vh;
    font-family: var(--font3);
    background-color: var(--color-03);
}

.home {
    display: none;
    position: fixed;
    bottom: 15px;
    left: 10px;
    width: 50px;
    height: 50px;
    color: var(--color-01);
    background-color: var(--color-03);
    border-radius: 40%;
    border: 1px solid var(--color-01);
    box-shadow: 3px 3px 1px var(--color-01);
}

.header {
    width: 100%;
    position: fixed;
    box-shadow: 1px 2px 6px var(--color-01);
    z-index: 10;
}

.navbar {
    position: relative;
    background-color: var(--color-03);
    text-align: right;
}

.navbar > span {
    font-size: 3.3rem;
    color: var(--color-01);
    border-radius: 40%;
    padding: 5px;
    border: 2px solid var(--color-01);
    margin: 10px;
    margin-right: 15px;
}

.navbar > span:hover {
    background-color: var(--color-02);
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    width: 100%;
    list-style-type: none;
    background-color: var(--color-03);
}

.menu-option {
    display: block;
    text-decoration: none;
    color: var(--color-01);
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    border-top: 1px solid var(--color-01);
    padding: 10px;
}

.menu-option:hover {
    background-color: var(--color-02);
}

.menu:last-child {
    border-bottom: 1px solid var(--color-01);
    box-shadow: 1px 2px 6px var(--color-01);
}

.welcome {
    width: 100%;
    height: 100%;
    background-color: var(--color-02);
    display: flex;
    flex-direction: column;
}

.left .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    background-color: var(--color-04);
    margin-top: 80px;
    border-bottom: 1px solid var(--color-07);
}

.main-h1 {
    text-align: center;
    font-size: 2rem;
    margin-left: px;
    color: var(--color-08);
}

.cursive {
    display: block;
    font-family: var(--font1);
    font-size: 4.5rem;
    text-shadow: 2px 2px 1px rgb(0 0 0)
}

.main-p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-08);
}

.right {
    width: 100%;
    height: 25%;
    background-color: var(--color-05);
    border-bottom: 1px solid var(--color-01);
}

.image-koicute {
    display: none;
}

.image-koihi{
    background-image: url(../imagens/koioi.png);
    width: 100%;
    height: 100%;  
}

@supports (background-attachment: fixed) {
    .image-koihi {
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

.about {
    background-color: var(--color-02);
    width: 100%;
    padding: 100px 0;
}

.image-jeniffer {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--color-01);
}

/* .image-jeniffer:hover {
    transform: scale(0.1);
} */

.about-card {
    background-color: rgba(255, 255, 255, 0.659);
    margin: 30px auto;
    width: min(90%, 1200px);
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.256);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-card-tech {
    width: min(90%, 1200px);
    background-color: rgba(255, 255, 255, 0.659);
    margin: 30px auto;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.256);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-tech-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.about-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 90px;
}

.about-title {
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    font-family: var(--font3);
    font-weight: 900;
    margin: 0 70px;
    border-bottom: 1px solid var(--color-00);
    color: var(--color-00);
}

.about-title-tech {
    width: fit-content;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--color-00);
    color: var(--color-00);
    margin-top: 20px;
}


.about-tech > i, .about-tech > span {
    font-size: 3rem; 
    color: var(--color-02);
}

.about-tech > p {
    color: var(--color-00);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.about-text {
    text-align: justify;
    padding: 20px;
    text-indent: 30px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-00);
}
/* ----------------------- projeto */
.project {
    background-color: var(--color-05);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.659);
    margin: 30px auto;
    width: min(90%, 750px);
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.256);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.project-title {
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid var(--color-09);
    color: var(--color-09);
    padding-top: 30px;
}

.project-sub-title {
    width: fit-content;
    color: var(--color-09);
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid var(--color-09);
}

.project-images {
    width: min(95%, 500px);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-images-slides {
    width: min(95%, 350px);
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin: 0 auto;
}

.bar {
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid var(--color-09);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.bar:hover {
    background-color: var(--color-09);
}

.input-slides {
    display: none;
}
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}


.project-image-portrait {
    width: 150px;
    height: 300px;
    padding: 0 5px;
    border-radius: 10px;
    transition: transform 200ms ease-in-out;
}

.project-image-portrait:hover {
    transform: scale(1.3);
}

.project-image-landscape {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
}

.project-links {
    display: flex;
    justify-content: center;
}

.project-link {
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100px;
    background-color: var(--color-09);
    margin: 0 10px 20px;
    padding: 10px;
    border: 1px solid var(--color-09);
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 1px 1px 8px var(--color-09);
}

.project-link:hover {
    background-color: var(--color-05);
    color: var(--color-09);
}

.project-card-flex {
    /* display: flex;
    justify-content: space-evenly; */
    margin-bottom: 20px;
}

.project-div-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .project-div-flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
} */


.project-text {
    text-align: justify;
    padding: 20px;
    text-indent: 30px;
    font-size: 0.9rem;
    color: var(--color-00);
}

.project-tech {
    color: var(--color-09);
    font-size: 2.3rem;
    text-align: center;
}
/* ----------------------- contato */

.contact {
    background-color: var(--color-04);
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--color-08)
}
.contact-text {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-07);
}

/* .contact-card {
    background-color: rgba(255, 255, 255, 0.731);
    background-color: var(--color-10);
    margin: 30px auto;
    width: min(90%, 700px);
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.256);
} */

.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 25px;
    font-size: 1rem;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 0px 0px 16px var(--color-07);
    width: 80px;
    background-color: var(--color-07);
    color:rgba(255, 255, 255, 0.681);
}

.contact-detail:hover {
    background-color: #BDFFF8;
    color: var(--color-07);
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: transform;
}

.contact-detail:active {
    box-shadow: 0 0 0 var(--color-07);
    transform: scale(0.8);
}

.contact-flex2 {
    position: relative;
    width: min(70%, 350px);
    padding-bottom: 50px;
    height: 650px;
}
.contact-paper-back {

    background-color: var(--color-08);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transform: rotate(-6deg);
    z-index: -2;

}

.contact-paper-front {
    position: absolute;
    background-color: var(--color-10);
    border-radius: 20px;
    width: 100%;
    height: 92%;
    top: 0;
    padding: 20px;

}

.label-form {
    color: var(--color-08);
    font-weight: 700;
}

.input-form, .textarea-form {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--color-05);
    margin: 5px 0 15px 0;
}

.textarea-form {
    resize: none;
    margin-bottom: 5px;
}

.submit-button {
    display: block;
    width: 60px;
    height: 30px;
    font-weight: 600;
    background-color: var(--color-08);
    color: rgba(255, 255, 255, 0.681);
    border-radius: 5px;
    border: 1px solid var(--color-08);
    margin: 0 auto;
}

.submit-button:hover {
    background-color: var(--color-07);
    cursor: pointer;
    transform: scale(1.1);
}

.submit-button:active {
    transform: scale(0.85);
}

footer {
    background-color: var(--color-03);
    text-align: center;
    font-family: var(--font3);
    font-size: 1.2rem;
    padding: 5px 0;
    border-top: 3px solid var(--color-01);
    color: var(--color-00);
}

.centralize {
    margin: 0 auto;
}

.contact-koihi {
    background-image: url(../imagens/koioi.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100%; 
    object-fit: contain;
    position: fixed;
    bottom: 40px;
    right:40;
}


/* .greedy-nav .visible-links a {
    position: relative
}

.greedy-nav .visible-links a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #6f777d;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0)
}

.greedy-nav .visible-links a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)

} */